
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">категории</a>
					<ul>
						<li><a href="">Ноутбуки</a></li>
						<li><a href="">Часы</a></li>
						<li><a href="">Смартфоны</a></li>
						<li><a href="">Аксессуары</a></li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">покупателям</a>
					<ul>
						<li><a href="">Часто задаваемые вопросы</a></li>
						<li><a href="">Оптовым покупателям</a></li>
						<li><a href="">Поставщикам</a></li>
						<li><a href="">Доставка и оплата</a></li>
						<li><a href="">Акции</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="phone-number">
				<a href="tel:89252613605" class="link-phone">+7 (925) 261-36-05</a>
			</div>
			<div class="phone-info-wrap">Время работы с 9:00 до 19:00</div>
			<div class="callback-wrap">
				<a href="" class="link-main js-popup-open" data-popup="popup-callback">Заказать звонок</a>
			</div>
			<div class="email-wrap">
				<a href="mailto:lair17a@yandex.ru" class="link-email">lair17a@yandex.ru</a>
			</div>
			<p><b>Офис-склад</b></p>
			<p>Багратионовский проезд 7к3, БЦ Галерея</p>
		</div>
		<div class="info-wrap">
			<p>Сайт носит сугубо информационный характер и не является публичной офертой, определяемой Статьей 437 (2) ГК РФ</p>
		</div>
		<div class="actions-wrap">
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc001.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc002.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc003.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc004.svg" alt="">
			</a>
		</div>
		<div class="bottom-info-wrap">
			<p><a href=""><b>Политика конфиденциальности</b></a></p>
		</div>
	</div>
</footer>
<!-- /footer -->