<!--main-soc-box-->
<div class="main-soc-box cnt-section">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="h1-title">следите за нами в соц сетях</div>
			<div class="items-wrap">
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-tile-qr">
						<div class="tile-photo-wrap">
							<div class="tile-photo photo-contain">
								<img src="./img/qr01.svg" alt="">
							</div>
						</div>
						<div class="tile-title">Telegram</div>
					</div>
				</div>
				<!--/item wrap-->
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-tile-qr">
						<div class="tile-photo-wrap">
							<div class="tile-photo photo-contain">
								<img src="./img/qr02.svg" alt="">
							</div>
						</div>
						<div class="tile-title">whatsapp</div>
					</div>
				</div>
				<!--/item wrap-->
			</div>
		</div>
		<div class="photo-inner-wrap">
			<div class="elm-photo">
				<img src="./img/phones.png" alt="">
			</div>
		</div>
	</div>
</div><!--/main-soc-box-->